<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars" style="position: relative; right: 8px; bottom: 2px;"></a>
            <a class="navbar-brand" href="#">
                <b>SysPerson</b>
            </a>
        </div>
    </div>
</nav>