<div class="menu">
    <ul class="list">
        <li class="header">Menu Principal</li>
        <li class="active">
            <a href="@Url.Action("Index", "Home")">
                <i class="material-icons">dashboard</i>
                <span>Início</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Pessoa")">
                <i class="material-icons">account_circle</i>
                <span>Pessoas</span>
            </a>
        </li>
    </ul>
</div>

