<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Pessoas</h4>
            </div>
            <div class="modal-body">
                <p>- Campos obrigatórios estão marcados com asterisco vermelho.</p>
                <p>- É possível criar cadastro de pessoa física e júridica informado o CPF ou CNPJ.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>